.General-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.General-info__field {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  margin: 8px;
  font-size: 16px;
}

.General-info__field--error {
  border: 1px solid red;
}

.General-info__error-container {
  font-size: 12px;
  color: red;
}
